.header{
    color: black;
}
.andarilho{
    color: black;
    text-align: center;
    text-size-adjust:initial ;
    display: flex;
    height:2cm;
    width: 100%;
    flex-direction: column;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    align-items: center;
    border-top: 2cm;
}