<!DOCTYPE html>
<html lang="en">   
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andarilho Inteligente</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'styles.css') }}">
</head>
<body background="/static/anda1.png">
    <div class = "andarilho" >
        <h1>Projeto Andarilho</h1> 
    </div>

    <div class= "header">
        <p>Esse projeto é dedicado a todos aqueles andarilhos que precisam saber a distância mais curta entre seus destinos.</p>
        <p>Além disso, ajudaremos você a organizar sua mochila de forma que você carregue apenas aquilo que tenha mais valor pra ti.</p>
    </div>
    
    <div class= "box">
    <form action = "/menor_distancia" method="POST">
        <input type="text" placeholder="Cidade origem" name="origem">
        <input type="text" placeholder="Cidade destino" name="destino">
        <button type="submit">Submit</button>
        
    </form>
    </div>

</body>
</html>